@mixin bar($p: 16px, $w: 1216px) {
  display: flex;
  padding: $p;
  max-width: $w;
  margin: auto;
}

@mixin btn($bg: #f6f6f6, $jp: 7px, $ap: 20px) {
  display: inline-block;
  height: 40px;
  padding: $jp $ap;
  background: $bg;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

@mixin bgImg($w: 0, $h: 0, $img: '', $size: contai) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($img) no-repeat center;
  background-size: $size;
}
